{% extends 'components/base.html' %}

{% block container %}
        <!-- <div class=" px-[250px] py-[20px]  " >
            <form action="" method="POST">{% csrf_token %}

                Job Title <input type="text" name="job_title"/><br/>
                Job Description <input type="text" name="job_desc"/><br/>
                Job Budget <input type="text" name="job_budget"/><br/>
                <br/>
                <input type="submit" value="Add Job">
                
            </form> -->
        <!-- </div> -->
        
        <div class="mx-auto  max-w-[600px] pt-[50px] pb-[50px] ">
    
            <form class="flex flex-col gap-[13px] p-[25px] bg-white " action="" method="post" >{% csrf_token %}
                <h1 class="text-black font-medium text-[23px]  text-center mb-[25px] " >Job Create</h1>
              <div class="flex flex-col"><p class = "bold">Title : </p> <input class="border-[3px] border-red-[200] p-[6px] rounded-md bg-gray-100" type="text"  name="job_title"></div>
              <div class="flex flex-col"><p>Details : </p><textarea class="border-[3px] h-[120px] p-[6px] rounded-md bg-gray-100" type="text"   name="job_desc"></textarea></div>
              <div class="flex flex-col"><p> Amount : </p><input class="border-[3px] p-[6px] rounded-md bg-gray-100" type="text"  name="job_budget"></div>
                <button class="p-[6px] rounded-md bg-indigo-600 font-medium text-[18px] text-white " type="submit" >Add Job</button>
            </form>
            
        </div>
{% endblock %}
