{% extends 'components/base.html' %}

{% block container %}

<div class="mx-auto  max-w-[600px] pt-[50px] pb-[50px] ">
    
    <form class="flex flex-col gap-[13px] p-[25px] bg-white " action="" method="post" >{% csrf_token %}
        <h1 class="text-black font-medium text-[23px]  text-center mb-[25px] " >Blog Create</h1>
      <div class="flex flex-col"><p> Content : </p><input class="border-[3px] p-[6px] rounded-md bg-gray-100" type="text"  name="blog_title"></div>
      <div class="flex flex-col"><p>Details : </p><textarea class="border-[3px] h-[120px] p-[6px] rounded-md bg-gray-100" type="text"   name="blog_desc"></textarea></div>
     
        <button class="p-[6px] rounded-md bg-indigo-600 font-medium text-[18px] text-white " type="submit" >Post</button>
    </form>
    
</div>
{% endblock %}
