{% extends 'components/base_min.html' %}

{% block container %}
<div class="mx-auto max-w-[300px] pt-[300px] ">
    <h1 class="text-primary font-medium text-[20px] text-center mb-[20px] " >Freelancer Login</h1>
    <form class="flex flex-col gap-[5px] p-[20px] bg-secondary rounded-md " action="" method="post" >{% csrf_token %}
        <input class="p-[5px] rounded-md bg-gray-100" type="text" placeholder="email" name="email">
        <input class="p-[5px] rounded-md bg-gray-100" type="password" placeholder="password" name="password">
        <button class="p-[5px] rounded-md bg-gray-600 font-medium text-[18px] text-white " type="submit" >Login</button>
    </form>
</div>
{% endblock %}