<div class=" bg-secondary h-[200px] text-[14px] flex justify-between px-[150px] py-[20px] text-white " >
    <div>
        <ul>
            <li>Categories</li>
            <li>Contests</li>
            <li>Projects</li>
            <li>Contests</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>About us</li>
            <li>How it Works</li>
            <li>Careers</li>
            <li>Privacy Policy </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Alam IT</li>
            <li>Haphazard</li>
            <li>Nur IT</li>
            <li>CFOB Foundation</li>
        </ul>
    </div>
</div>