<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwindConfig.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Kaj Dorkar</title>
</head>
<body class=" font-inter ">
    <div class=" flex items-center justify-between py-[40px] px-[40px] " >
        <div class=" flex items-center">
            <div class="  grow-0 text-[32px] font-semibold mr-[90px] grow-2  " > <span class="text-primary" >KAAJ</span> <span class=" text-secondary " >DORKAR</span> </div>
            <div class=" flex  text-[24px]  ">
                <div class=" mr-[35px] text-primary cursor-pointer " >Home</div> 
                <div class=" mr-[35px] text-textSecondary cursor-pointer " >Profile</div>
                <div class=" mr-[35px] text-textSecondary cursor-pointer " >Balance</div>
                <div class=" mr-[35px] text-textSecondary cursor-pointer " >Create Job</div>
            </div>
        </div>
        
        <div class=" flex justify-center item-center bg-gray-200 rounded-3xl ">
            <div class=" text-textPrimary text-[20px] mr-[8px] ml-[10px] mr-[10px] px-[10px]  " >shamimbinnur</div>
            <div class=" text-textPrimary text-[12px]  text-white bg-primary py-[5px] px-[10px] rounded-3xl " >Logout</div>
        </div>
    </div>
    <div class="bg-gray-200 h-[2px] "></div>

    <div class=" px-[250px] py-[20px]  " >
        

        <div class=" rounded-2xl bg-gradient-to-r from-slate-100 to-purple-50 px-[20px] py-[20px] mb-[20px] " >
            <h1 class=" text-[32px] text-textPrimary ">{{ job.Job_title }}</h1>
            <p class=" text-[20px] text-textSecondary mt-[10px] " >Budget: {{ job.Job_Budget }} BDT</p>
            <h6 class=" text-[16px] text-textSecondary " >{{ job.Job_Date }}</h6>
            <p class=" text-[20px] text-textSecondary mt-[10px] " >{{ job.Job_desc }}</p>
        </div>

        <a href="bid/user-id/job-id">
            <button>Bid now</button>
        </a>

        
    </div>

    <div class=" bg-secondary h-[200px] flex justify-between px-[150px] py-[20px] text-white " >
        <div>
            <ul>
                <li>Categories</li>
                <li>Contests</li>
                <li>Projects</li>
                <li>Contests</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>About us</li>
                <li>How it Works</li>
                <li>Careers</li>
                <li>Privacy Policy </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Alam IT</li>
                <li>Haphazard</li>
                <li>Nur IT</li>
                <li>CFOB Foundation</li>
            </ul>
        </div>
    </div>
</body>
</html> 






</html>