{% extends 'components/base.html' %}

{% block container %}

        <div class="mx-auto  max-w-[600px] pt-[25px] pb-[50px] ">
    
            <form class="flex flex-col gap-[13px] p-[25px] bg-white " action="" method="post" >{% csrf_token %}
                <h1 class="text-black font-medium text-[23px]  text-center mb-[25px] " >Bid</h1>
              <div class="flex flex-col"><p>Cover Letter : </p><textarea class="border-[3px] h-[140px] p-[6px] rounded-md bg-gray-100" type="text"   name="proposed_message"></textarea></div>
              <div class="flex flex-col"><p> Amount : </p><input class="border-[3px] p-[6px] rounded-md bg-gray-100" type="text"  name="proposed_amount"></div>
                <button class="p-[6px] rounded-md bg-indigo-600 font-medium text-[18px] text-white " type="submit" >Bid now</button>
            </form>
            
        </div>
{% endblock %}

